* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #343233;
    --color-a: #efeae1;
    --header-color: #584b4f;
    --enfasis-a: #81c08b;
    --box-game: #ffd152;
}

html {
    min-height: 100%;
    position: relative;
    background-color: var(--main-bg-color);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
img {
    border-radius: 5px;
    cursor: pointer;
}
img:hover {
    transform: scale(1.1);
    margin-top: 15px;
    transition: 0.5s ease all;
}

input {
    cursor: pointer;
}

/* Header */
.contenedorHeader {
    cursor: pointer;
    width: 100%;
    height: 150px;
    background: var(--header-color);
    color: var(--color-a);
    text-align: center;
}
.contenedorHeader h1 {
    padding-top: 10px;
    font-size: 50px;
}
.contenedorHeader h1:hover {
    transform: scale(1.05);
    transition: 0.3s ease all;
}

.contenedorHeader a {
    color: var(--color-a);
    text-decoration: none;
}
.contenedorHeader a:hover {
    color: var(--enfasis-a);
    font-weight: 600;
}

/* Tabla de Juego */
.contenedorTable {
    width: 100%;
    height: 700px;
    background: var(--main-bg-color);
    display: flex;
}

/* Footer */
.contenedorFooter {
    background-color: #efeae1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #574c4f;
}
.contenedorFooter a {
    color: #574c4f;
    text-decoration: none;
}
.contenedorFooter a:hover {
    font-weight: 600;
}
span {
    text-align: center;
    cursor: pointer;
}

/* Flujo de juego */
.game {
    width: 40%;
    height: 80%;
    margin: 30px auto;
    background-color: var(--box-game);
    border-radius: 5px;
}

.gameBox {
    margin: 55px auto;
    width: 80%;
    height: 80%;
    text-align: center;
    color: var(--main-bg-color);
    font-weight: 600;
    font-size: 20px;
}

/* Get user name */

.overlayWelcome {
    display: flex;
    background-color: rgba(0, 0, 0, 0.89);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-bg-color);
    /* visibility: hidden; */
}
.overlayWelcome.active {
    visibility: visible;
}

.popupWelcome {
    background-color: var(--color-a);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 450px;
    height: 220px;
}
.popupWelcome h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    /* opacity: 0; */
}
.popupWelcome input {
    width: 100%;
    height: 52px;
    margin-bottom: 15px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    outline-style: none;
}
.popupWelcome.active {
    opacity: 1;
    transform: scale(1);
}

.btnAdd:hover {
    font-weight: 600;
    transition: 0.3s ease all;
    background-color: var(--main-bg-color);
    color: var(--color-a);
    width: 60%;
}

.contenedorObjetivo {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.objetivo {
    width: 40%;
    margin: 0 auto;
    height: 80%;
}

.contenedorResumen input:hover {
    font-weight: 600;
    transition: 0.3s ease all;
    background-color: var(--main-bg-color);
    color: var(--color-a);
    width: 60%;
}

.contenedorResumen {
    height: 300px;
}

.contenedorFinal {
    margin: 90px auto;
    height: auto;
}

.contenedorResumen p {
    font-weight: 600;
}

/* Controlador de Vida */

.contenedorLive {
    width: 80%;
    height: 60px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: var(--color-a);
    cursor: pointer;
}

.contenedorLive:hover {
    transform: scale(1.05);
    transition: 0.3s ease all;
}

@media only screen and (max-width: 600px) {
    img {
        width: 75%;
    }
}
